@import "./config.rasi"

@theme "/dev/null"
@import "../themes/colors.rasi"
@import "../menu-conf.rasi"

window {
  location: north east;
  width: 12%;
  x-offset: -18%;
  y-offset: 0;
  height: 14em;
}

listview, element, element selected, element-text, element-icon {
  padding: 4px 0px;
}
